@font-face {
    font-family:'legends' ;
    src: url("../fonts/Legends-JROKK.otf");
  }
  
  @font-face {
    font-family: 'got';
    src: url('../fonts/Game\ of\ Thrones.ttf');
  }
  
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
  }
  *{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    a{
      cursor: pointer;
    }
    
    body{
      background-color:#141414;
      font-family: 'Roboto-Regular';
    }
    
    
  
  }