@font-face {
  font-family: "legends";
  src: url("../fonts/Legends-JROKK.otf");
}
@font-face {
  font-family: "got";
  src: url("../fonts/Game of Thrones.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
* a {
  cursor: pointer;
}
* body {
  background-color: #141414;
  font-family: "Roboto-Regular";
}

.logo {
  height: 100px;
  width: 100px;
}

.navBar {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  width: 100%;
  min-height: 75px;
}
.navBar input {
  height: 20px;
  align-self: center;
}

.navContainer {
  display: flex;
  gap: 30px;
}
.navContainer .navLink {
  padding: 0 0.3rem;
}
.navContainer a {
  color: black;
  font-family: "legends";
  font-size: 2rem;
}
.navContainer a:hover {
  color: #04BFAD;
}

.inputNav {
  display: flex;
}

.navBurger {
  width: auto;
  height: 40px;
  background: transparent;
  color: inherit;
  display: none;
}

#popup-root {
  position: absolute;
  top: 80px;
  right: 57%;
}

.popup-overlay {
  position: absolute !important;
}

.modalConnection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  padding: 15px;
  background-color: gray;
}

#newsHome {
  height: 75vh;
  background-image: url("https://images6.alphacoders.com/128/1283584.jpg");
  background-size: cover;
  background-position: center;
}
#newsHome a {
  background-image: linear-gradient(76.3deg, rgb(44, 62, 78) 12.6%, rgb(69, 103, 131) 82.8%);
  color: turquoise;
  background-color: white;
  padding: 20px;
  border-radius: 10%;
}
#newsHome a:hover {
  background-color: #04BFAD;
  color: white;
  font-size: 22px;
  border: 2px solid white;
}

.overlayTexteHome {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

h2 {
  color: turquoise;
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: "got";
}

.texteHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.logoHome {
  display: flex;
  align-items: center;
}

.filmHome {
  width: 500px;
  text-align: center;
  line-height: 60px;
}

.resumeFilm {
  width: 600px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Roboto-Regular";
}

.bandeA {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

#movie {
  padding-top: 15px;
}

#serie {
  padding-bottom: 30px;
}

.h2Films {
  padding: 70px 0 30px 15px;
}

.h2Series {
  padding: 70px 0 30px 15px;
}

.h2Series::before, .h2Films::before {
  content: "";
  margin: 10px;
  border: #04BFAD 2px solid;
}

.h2Series::after, .h2Films::after {
  content: "";
  margin: 10px;
  border: #04BFAD 2px solid;
}

.carousel {
  position: relative;
}

.carousel .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel .overlay h2 {
  padding-bottom: 15px;
}

.overlayResume {
  width: 50%;
}

.thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filmArticles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0 20px 0;
}
.filmArticles h2 {
  margin: 30px;
}
.filmArticles p {
  margin: 50px;
  padding: 20px;
  width: 50%;
  text-align: center;
  color: white;
  background-color: black;
  border: 1px solid #04BFAD;
  box-shadow: 2px 2px 2px 2px;
}

.filmName {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #04BFAD;
  width: 50%;
  height: 4rem;
  margin: auto;
  text-align: center;
  position: relative;
}

.filmName:before {
  content: "";
  position: absolute;
  left: calc(-50% - 5px);
  top: calc(50% - 3px);
  border: 1px solid #04BFAD;
  width: 50%;
}

.filmName:after {
  content: "";
  position: absolute;
  right: calc(-50% - 5px);
  top: calc(50% - 3px);
  border: 1px solid #04BFAD;
  width: 50%;
}

#seriesContainer {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 25px;
}

.serieDiv {
  width: 23%;
  height: auto;
  padding-bottom: 20px;
}

.serieArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border: 2px solid rgba(37, 202, 214, 0.349);
  background-color: rgba(17, 176, 230, 0.349);
  box-shadow: 5px 5px 5px 5px;
}
.serieArticle h2 {
  color: goldenrod;
  font-size: 10px;
  width: auto;
  text-align: center;
}
.serieArticle p {
  text-align: center;
}

.modalSummary {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 30px;
  align-items: center;
  height: 500px;
  overflow-y: scroll, hidden;
  overflow-x: hidden;
  border: 1px rgb(32, 178, 171) solid;
  background-color: rgba(0, 0, 0, 0.253);
}
.modalSummary svg {
  color: gold;
}

.pageSerie .carousel .thumbs-wrapper {
  display: none;
}

.pageSerie .carousel {
  height: auto;
}

footer {
  background-color: #04BFAD;
  padding: 20px;
}
footer p {
  letter-spacing: 3px;
}
footer li {
  font-size: 12px;
}
footer .icones {
  display: flex;
  gap: 10px;
}

.listeFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

#formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: solid 3px #04BFAD;
  padding: 60px;
  margin: 100px;
  background-color: rgb(0, 0, 0);
}
#formDiv input {
  padding: 5px;
}
#formDiv button {
  padding: 5px;
}
#formDiv a {
  color: white;
}

#form {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-image: url("../img/pulp-fiction-personnages-principaux-noir-et-blanc.jpg");
  background-position: center;
  background-size: contain;
}

#erreur {
  color: white;
}

#showUsers {
  color: white;
  font-weight: bold;
}

table {
  margin: 16px auto;
  text-align: center;
  background-color: black;
}
table td {
  border: solid 1px white;
  padding: 8px 16px;
}

@media screen and (max-width: 1115px) {
  .serieDiv {
    width: 45%;
  }
}
@media screen and (max-width: 800px) {
  .filmHome {
    width: auto;
  }
  .filmArticles img {
    height: 400px;
    width: auto;
  }
  .resumeFilm {
    width: auto;
  }
  .carousel .overlay {
    display: block;
  }
  .carousel .overlay p {
    width: auto;
  }
  .navContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    width: 0;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    background-color: black;
    visibility: hidden;
    transition: all 0.8s ease-out;
  }
  .navContainer a {
    color: white;
  }
  .showNav .navContainer {
    right: 0;
    width: 100vw;
    visibility: visible;
    z-index: 5;
  }
  .navLink {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .navBurger {
    display: block;
    top: 1rem;
    right: 1rem;
    z-index: 5;
  }
  .navBurger:hover {
    cursor: pointer;
    z-index: 5;
  }
  .burgerBar,
.burgerBar::before,
.burgerBar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: white;
    transition: all 0.5s ease-in-out;
  }
  .burgerBar::before,
.burgerBar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burgerBar::before {
    transform: translateY(-12px);
  }
  .burgerBar::after {
    transform: translateY(12px);
  }
  .showNav .burgerBar {
    background: transparent;
  }
  .showNav .burgerBar::before {
    transform: rotate(45deg);
  }
  .showNav .burgerBar::after {
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 800px) {
  .filmArticles img {
    height: auto;
    width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  .serieArticle .control-arrow {
    display: none;
  }
  .navBar {
    gap: 0px;
  }
  #newsHome {
    height: auto;
  }
  .homeMovies {
    height: auto;
  }
  h2 {
    font-size: 16px;
    text-align: center;
  }
  p {
    display: none;
  }
  table td {
    padding: 0;
  }
}